services:

  training:
    image: alcoholerometer:latest
    command: python src/main_training.py --preprocess --feat-eng --training

  app:
    image: alcoholerometer:latest
    command: flask --app src/main_api run --host 0.0.0.0 --port 5001
    depends_on:
      prometheus:
        condition: service_healthy
      telemetry_job:
        condition: service_started
      training:
        condition: service_completed_successfully
    ports:
      - "5001:5001"  # see: https://developer.apple.com/forums/thread/682332
    healthcheck:
      test: apt-get update -y && apt-get install -y curl && curl --fail http://localhost:5001/health || exit 1
      retries: 5
      interval: 30s  # Cache loading is taking a long time for this app

  prometheus:
    image: prom/prometheus:v3.5.0
    depends_on:
      - prometheus_push_gateway
    volumes:
      - "./telemetry/prometheus.yml:/etc/prometheus/prometheus.yml"
      - "./telemetry/alerts.yml:/etc/prometheus/alerts.yml"
    ports:
      - "9090:9090"
    healthcheck:
      test: wget http://localhost:9090/metrics -S -O - || exit 1
      retries: 3
      interval: 5s

  prometheus_push_gateway:
    image: prom/pushgateway:v1.11.1
    ports:
      - "9091:9091"
    healthcheck:
      test: wget http://localhost:9091/metrics -S -O - || exit 1
      retries: 3
      interval: 5s

  telemetry_job:
    image: alcoholerometer:latest
    command: ["/bin/sh", "-c", "while true; do sleep 10; python src/main_drift_calculation.py ; done"]
    depends_on:
      - prometheus

  airflow:
    image: apache/airflow:3.1.0-python3.10
    command: airflow standalone
    ports:
      - "8080:8080" 
    environment:
      - _AIRFLOW_DB_MIGRATE=true
      - AIRFLOW__CORE__SIMPLE_AUTH_MANAGER_ALL_ADMINS=true  # note: Disabling authentication completely.
    volumes:
      - ./airflow/dags/:/opt/airflow/dags  # note: Normally you pass DAGs to Airflow in a different way, through CI. Like moving to a Cloud Storage Directory where Airflow is getting the DAGs from.
      - /var/run/docker.sock:/var/run/docker.sock  # note: For local deployment: linking local docker to Airflow
    healthcheck:
      test: wget http://localhost:8080/api/v2/monitor/health -o /dev/null || exit 1  # note: wget downloads the file. I do not need it. So we move it to /dev/null
      retries: 3
      interval: 5s
